[submodule "libs/wwDevice"]
	path = libs/wwDevice
	url = ../wwDevice.git
[submodule "libs/wwBase"]
	path = libs/wwBase
	url = ../wwBase.git
[submodule "libs/wwCmake"]
	path = libs/wwCmake
	url = ../wwCmake.git
